<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{message}}</p>
</div>
<div class="modal-footer">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="cancel()" type="button" class="btn btn-secondary">Cancel</button>
        <button (click)="confirm()" type="button" class="btn btn-danger">Confirm</button>
    </div>
</div>