<!-- nav Bar -->
<app-nav-bar></app-nav-bar>
<!-- Nav Bar -->
<div class="container">
    <div class="row">
        <div class="col-12 border">
            <div *ngFor="let message of messages" class="row">
                <div class="col-2 border-right ">
                    <div class="border-bottom p-1 m-1"><b class="p-0 m-0">{{message.sender}}</b></div>
                </div>
                <div class="col">
                    <div class="border-bottom p-1 m-1"><p class="m-0 p-0">{{message.body}}</p></div>
                </div>
                <div *ngIf="showControlButtons()" class="col-lg-1 col-2">
                    <button (click)="deleteMessage(message.id)" class="btn btn-danger float-right p-1 m-1 w-sm-100">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <form  class="row mt-3">
        <div class="col-lg col-sm-12 p-0">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                <textarea [(ngModel)]="messageBody" name="message" type="text" class="form-control"
                    placeholder="Message"></textarea>
            </div>
        </div>

        <div class="col-lg-2 col-sm-12 p-0">
                <button (click)="sendMessage()" type="submit" class="btn btn-primary w-100 h-100 float-right">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Send
                </button>
        </div>

    </form>

</div>